<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Lewis Ham Store</title>
</head>
<body> 
    <header> 
        <p>Welcome</p> 
    </header> 
    <main> 
        {{{body}}} 
    </main> 
    <footer> 
        <p>Unproudly Presented by Zhuoqing Zheng</p> 
    </footer>
</body>
</html>