<h1>Displaying all data</h1>
<ul>
{{!-- loops over the data set --}}
{{#each data}}
    <li><a href="/user/{{this._id}}">{{this.username}} </a></li>
{{/each}}
</ul>

<form action="/user" method="POST">
    <input type="text" placeholder="Username" name="username" />
    <input type="submit"/>
</form>
