<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<nav class="navbar navbar-expand-md navbar-light bg-black py-4 fixed-top">
    <div class="container-fluid head-container">
        <a class="navbar-brand d-flex justify-content-between align-items-center ">
            <div class="logo">
                <img src="https://www.masterclass.com/course-images/attachments/ilnrs0iq099lyds0wocosepo14c9"
                    alt="LH-LOGO">
            </div>
        </a>

        <div class="order-md-2 nav-btns">
            <button type="button" class="btn text-white">
                <i class="bi bi-cart2"></i>

            </button>
            <button type="button" class="btn text-white">
                <i class="bi bi-bag-heart"></i>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav mx-5 ">
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase" href="#">home</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase" href="#">new</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase" href="#">about</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cover-container">
    <img src="/img/cover.webp" alt="cover">
</div>