<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<nav class="navbar navbar-expand-md navbar-light bg-black py-4 fixed-top">
    <div class="container-fluid head-container">
        <a class="navbar-brand d-flex justify-content-between align-items-center ">
            <div class="logo">
                <img src="https://www.masterclass.com/course-images/attachments/ilnrs0iq099lyds0wocosepo14c9"
                    alt="LH-LOGO">
            </div>
        </a>

        <div class="order-md-2 nav-btns">
            <button type="button" class="btn text-white">
                <i class="bi bi-cart2"></i>

            </button>
            <button type="button" class="btn text-white">
                <i class="bi bi-bag-heart"></i>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav mx-5 navbar-dark">
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase" href="#">home</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase" href="#">new</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase" href="#">about</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cover-container">
    <img src="/img/cover.webp" alt="cover">
</div>
<div class="cards-container bg-black">


    <div class="container bg-black">
        <div class="text-center py-5">
            <h1>Still We Rise</h1>
        </div>
        <hr>

        <div class="row g-0 mt-5 justify-content-center">
            <a href="">
                <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
                    <div class="collection-img position-relative">
                        <img src="img/w12.jpg">

                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1">Mercedes-AMG F1 W12 E Performance</p>
                        <span class="fw-bold">$ 18,000,000.95</span>
                    </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/w13.jpg">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Mercedes-AMG F1 W13 E Performance</p>
                    <span class="fw-bold">$ 200.85</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">

                    <img src="img/w11.jpg">



                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Mercedes-AMG F1 W11 E Performance</p>
                    <span class="fw-bold">$ 20,000,000.00</span>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/w10.jpg">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Mercedes-AMG F1 W10 E Performance</p>
                    <span class="fw-bold">$ 16,000,000.45</span>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/paint.jpg">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Lewis Hamilton Paint 2019 Limited Edition</p>
                    <span class="fw-bold">$ 120.45</span>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/T-shirt.jpg">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Mercedes-AMG Petronas Sports T-shirt</p>
                    <span class="fw-bold">$ 75.45</span>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/w13.jpg">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Mercedes-AMG F1 W13 E Performance</p>
                    <span class="fw-bold">$ 200.00</span>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/roscoe.png">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Lewis's Dog Roscoe</p>
                    <span class="fw-bold">$ 1.00</span>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
            <a href="">
                <div class="collection-img position-relative">
                    <img src="img/w13.jpg">

                </div>
                <div class="text-center">
                    <div class="rating mt-3">
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                        <span class="text-primary"><i class="fas fa-star"></i></span>
                    </div>
                    <p class="text-capitalize my-1">Mercedes-AMG F1 W13 E Performance</p>
                    <span class="fw-bold">$ 200.00</span>
                </div>
            </a>
        </div>

    </div>
    <div class="py-2"></div>
</div>

</div>