<head>
    <title>{{pagename}}</title>
     <link rel="stylesheet" href="/css/login.css">
     <link rel="stylesheet" href="/css/style.css">
</head>




<div class="login_container">
    <h1 class="login-title">LH-Store</h1>
    <form autocomplete="off" action="login" method="POST">

        <!-- Input username -->
        <div class="text_form">
            <input placeholder="Username" type="text" id="username" name="username" autocomplete="on">
            <span></span>

        </div>

        <!-- Input password -->
        <div class="text_form">
            <input placeholder="Password" type="password" id="password" name="password" onclick="HidePassword()"
                autocomplete="on">
            <span></span>

            <!-- If the password or account does not match, the message shows up -->
            {{#each flash}}
            <p style="color: rgb(248, 95, 95)">{{this}}</p>
            {{/each}}
        </div>

        <!-- Login buttom -->
        <input type="submit" value="Log-In">

        <!-- Registration link -->
        <div class="signUpLink">
            Not a member yet? <a style="color: rgb(0, 136, 163)" href="/registration">Click to join!</a>
        </div>
    </form>
</div>