:root {
    --color-bg: #e5c3ff;
    --color-bg-variant: #cfbff9;
    --color-black: #0D1321;
    --color-primary: #b39cff;
    --color-primary-variant: #4d5061;
    --color-lightBlue: rgba(223, 198, 255, 0.98);
    --color-white: white;
    --color-light: #f3ebe5;
    --color-green: #c5D864;
    --color-pink: #CCA7A2;
    --color-taupe: #86615c;
}